.nav-item,
.dropdown-menu {
  list-style-type: none;
}

body {
  background-color: #141414;
  color: rgb(59, 47, 47);
  font-family: Arial, sans-serif;
}
.movie-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.movie-card:hover {
  transform: scale(1.1);
}
.section-img {
  width: 100%;
  max-width: 200px;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}
.container-icon {
  margin-top: 50px;
}
footer svg {
  align-items: center;
}

footer {
  padding-left: 25%;
  padding-right: 25%;
}
footer button a {
  text-decoration: none;
}
/* Pulsanti azione */
.d-flex {
  display: flex;
  gap: 10px;
}

/* Pulsante SAVE */
.btn-save {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 3px;
}

/* Pulsanti CANCEL e DELETE */
.btn-outline-secondary {
  border-color: #777;
  color: #999;
  padding: 6px 14px;
}

/* DELETE PROFILE con opacità più bassa */
.btn-delete {
  color: #666;
  border-color: #666;
  opacity: 0.6;
}

/* Immagine profilo */
.profile-container img {
  width: 80px; /* Corretta la dimensione */
  height: 80px;
  border-radius: 5px;
  border: 1px solid #555;
}
